<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        
      </ion-grid>
      <div class="block">
        <ion-grid>
          <ion-row>
       
              <div class= "relative arrow"  >
                  <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" src="assets/images/apply/arrow.png"></ion-img>
                  <div class="apply-text">Know The League</div>
                </div>
    
    <!--<div class="apply-text col-md-8">         
        How To Apply
      
    </div>-->
        
        </ion-row>
        <ion-row>

          <div class="st-div">
    
            <p>
              <span style="color: chartreuse;">*</span> Each team comprises of 12 players. The captain/mentor of the team is
              chosen directly by the team
              owner. The uniqueness of the league lies in the fact that 7 players per team are
              amateurs that are selected through on-ground / online qualifiers and other contests.
            </p>
            <p>
              <span style="color: chartreuse;">*</span>For Season 3, there will be 24 free on-ground qualifiers
              (Delhi, Mumbai, Kolkata, Bengaluru) - which are basically free "live" poker events
              (Schedule to be announced end November) - where participants
              have to play multiple poker tournaments to "earn" points
              (based on their position in the tournaments).
            </p>
            <p>
              <span style="color: chartreuse;">*</span>A nation wide leaderboard will be maintained and the players who earn
              the maximum points make it to the "draft".
            </p>
            <p>
              <span style="color: chartreuse;">*</span>Post Qualifiers, there will be a selection ceremony, where the team
              owners & mentors will choose the players from the various drafts, which will comprise of the final team.
              Selection Ceremony will be in Delhi on March 1st, 2020
    
            </p>
            <p>
              <span style="color: chartreuse;">*</span>Once the teams are selected and finalized, the players undergo
              training for the next 3 weeks so that mentors/coaches can identify the weaknesses in players and prepare them
              for the finale. All selected players get a base salary as well as performance incentive (if the teams finish
              in the top 4 positions in the finale)
            </p>
            <p>
              <span style="color: chartreuse;">*</span>The Poker Sports League grand finale will be in Kolkata in from March
              15-23rd, 2020.
            </p>
            <p>
              <span style="color: chartreuse;">*</span>The total prize-pool will be Rs 4 + crores, with the top 4 teams
              being paid based on their finishing position.
            </p>
            <p>
              <span style="color: chartreuse;">*</span> All team members also get a percentage of the winning prize
              (predetermined split).
            </p>
          </div>
    
    
        </ion-row>
    
 
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>
