<ion-content class="ionic-home-page-section">
    <div class="back-img">
      <app-header></app-header>
      <div class="opacity-0">
        <ion-grid no-padding>
          
        </ion-grid>
        <div class="block">
            <ion-grid>
                <ion-row>
             
                    <div class= "relative arrow">
                        
                        <div class="apply-text"> PSL</div>
                      
                      </div>
          
          <!--<div class="apply-text col-md-8">         
              How To Apply
            
          </div>-->
              
              </ion-row>
              <ion-row>
             
                <div class= "apply-div bt-apply" >
                    <ion-img  src="assets/images/psl-home/qualifier.png"></ion-img>
                    
                  </div>
          
           
          </ion-row>
          
              <ion-row>
             
                    <div class= "apply-div" routerLink="/calender" routerDirection="root">
                        <ion-img  src="assets/images/psl-home/calender.png"></ion-img>
                        
                      </div>
          
               
              </ion-row>
              <ion-row>
             
                  <div class= "apply-div" routerLink="/how-to-apply" routerDirection="root">
                      <ion-img  src="assets/images/psl-home/how-to-apply.png"></ion-img>
                    </div>
          
             
            </ion-row>
            <ion-row>
             
                <div class= "apply-div" routerLink="/leaderboard" routerDirection="root">
                    <ion-img  src="assets/images/psl-home/leader-board.png"></ion-img>
                  </div>
          
           
          </ion-row>
          <ion-row>
             
            <div class= "apply-div" routerLink="/teams" routerDirection="root">
                <ion-img  src="assets/images/psl-home/teams.png"></ion-img>
              </div>
          
          
          </ion-row>
          <ion-row>
             
            <div class= "apply-div" routerLink="/knowtheleague" routerDirection="root">
                <ion-img  src="assets/images/psl-home/league.png"></ion-img>
              </div>
          
          
          </ion-row>
          <ion-row>
             
            <div class= "apply-div" routerLink="/partner" routerDirection="root">
                <ion-img  src="assets/images/psl-home/partner.png"></ion-img>
              </div>
          
          
          </ion-row>
          
          
            </ion-grid>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="footer">
    <marquee>
      <div class="title">
        {{newsFooter}}
      </div>
    </marquee>
  </div>