<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        
      </ion-grid>
      <div class="block">
        <ion-grid>
          <ion-row>
       
              <div class= "relative arrow"  >
                  <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" src="assets/images/apply/arrow.png"></ion-img>
                  <div class="apply-text"> How To Apply</div>
                </div>
    
    <!--<div class="apply-text col-md-8">         
        How To Apply
      
    </div>-->
        
        </ion-row>
    
    
        <ion-row>
       
              <div class= "apply-div" block (click)='OpenUrl();'>
                  <ion-img  src="assets/images/apply/qualifier.png"></ion-img>
                  
                </div>
    
         
        </ion-row>
        <ion-row>
       
            <div class= "apply-div">
                <ion-img  src="assets/images/apply/pro.png"></ion-img>
              </div>
    
       
      </ion-row>
      <ion-row>
       
          <div class= "apply-div">
              <ion-img  src="assets/images/apply/mentor.png"></ion-img>
            </div>
    
     
    </ion-row>
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>