
ion-content.ionic-home-page-section {
    height: 100vh;
    .back-img{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 20px;
        background: url('../../../assets/images/bg.png') ;
        .opacity-0{
            position: relative;
            z-index: 2;
        }      
        &:after {
            content: "";
            display: block;
            position: fixed;
            padding: 100px 0;
            width: 100%;
            height: 100%;
            top: 10px;
            left: 0;
            background-color: rgba(0, 0, 0, 0);
        }
        .block{
            margin: 40px auto;
            display: block;
            height: auto;
            width: 80%;
            ion-item{
                margin: 14px auto;
                --background:#1b1b1b;
            }
       
              
              .apply-text{
                padding: 5px;
                margin-top:18px;
                  color: white;  
              }
              .apply-text p{
                text-align: center;
              }
              .relative {
                width: 100%;
                text-align: center;
              }
              
              .relative ion-img{
                position: absolute;
                width: 7%;
              }
              .apply-div{
                border-radius: 10px;
                text-align: center;
                width: 70%;
                
                margin: 12px auto;
                
                }
                .bt-apply{
                    width: 35%;
                  }
            
        }
    }
}