<ion-content class="ionic-subcription-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <div class="card-container">
        <div class="card">
          <div class="text-uppercase text-center top-header">
            <div class="title">
              Premier Plan<br>
              $ 999<br>
              For 3 month
            </div>
          </div>
          <ion-row no-padding no-margin justify-content-center class="subcribe-btn">
            <ion-col size="8" no-padding no-margin>
              <ion-button size="default" color="green" expand="full">
                Subscribe Now
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>