<ion-header no-padding>
  <ion-toolbar no-padding>
    <ion-grid no-padding>
      <ion-row no-padding>
        <div class="header">
          <img alt="header-img" src="../../assets/images/logo.png" class="top-logo" width="35%">
        </div>
      </ion-row>
    </ion-grid>
    <ion-buttons class="sidenav-btn" no-padding slot="end">
      <ion-menu-button no-padding>
        <div class="more">
          <img alt="menu-img" src="../../../assets/images/home/menu_top.png" width="100%">
        </div>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>