<ion-tabs>
  <ion-tab-bar class="p-10" slot="bottom">
    <ion-tab-button tab="psl">
      <img src="../../assets/images/home/psl.png" width="50%">
      <ion-label color="light">PSL</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="learn">
      <img src="../../assets/images/home/learn.png" width="50%">
      <ion-label color="light">Learn</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <img src="../../assets/images/home/home_icon.png" width="80%">
    </ion-tab-button>
    <ion-tab-button tab="play">
      <img src="../../assets/images/home/play.png" width="50%">
      <ion-label color="light">Play</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="watch">
      <img src="../../assets/images/home/watch.png" width="50%">
      <ion-label color="light">Watch</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>