<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>

      </ion-grid>
      <div class="block">

        <ion-row>

          <div class="relative arrow" >
            <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" routerLink="/psl" routerDirection="root" src="assets/images/apply/arrow.png"></ion-img>
            <div class="apply-text">Leader Board</div>
          </div>
        </ion-row>
        <div class="container mt-3">

         
          <br>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>

                  <th>Player</th>
                  <th>Teams</th>
                  <th>Category</th>
                  <th>Season2 Points</th>
                  <th>Season2 Ranking</th>
                  <th>Overall Ranking</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of leaderboardData" class="l-data-row">

                  <td>{{data.player}}</td>
                  <td>
                    <ion-img src="{{data.rank}}"></ion-img>
                  </td>
                  <td>{{data.category}}</td>
                  <td>{{data.points}}</td>
                  <td>{{data.stworank}}</td>
                  <td>{{data.overallrank}}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--<div class="apply-text col-md-8">         
        How To Apply
      
    </div>-->



      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>