<ion-content class="ionic-chatbot-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-card-header>
        <ion-card-title color="light">
          <ion-icon class="text-success" name="chatbubbles"></ion-icon> Chatbox
        </ion-card-title>
      </ion-card-header>
      <div class="chat-box">
        <ion-card-content>
          <div class="chat-body" id="msgContainer" #content>
            <div #messages class="message-container" *ngFor="let message of messages | async">
              <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
    'to': message.sentBy === 'user'}">
                <ion-row class="display-col-reverse ">
                  <ion-col size="2">
                    <img alt="userimg" class="user-img" src="../../../assets/images/userimg.png">
                    <div no-padding class="user-send-time">
                      <span *ngIf="message.sentBy != 'bot'" class="sendtime">{{message.sendTime | date: 'dd-MMM-yyyy
                        hh:mm'}}</span>
                    </div>
                  </ion-col>
                  <ion-col size="10">
                    <ion-row class="text-align-right" no-padding>
                      <ion-col no-padding class="text-success">
                        {{message.sentBy === 'bot' ? 'Robot' : 'User'}}
                      </ion-col>
                      <ion-col *ngIf="message.sentBy === 'bot'" no-padding class="text-success">
                        <span *ngIf="message.sentBy === 'bot'" class="sendtime">{{message.sendTime | date: 'dd-MMM-yyyy
                          hh:mm'}}</span>
                      </ion-col>
                    </ion-row>
                    {{message.content}}
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </div>
          <ion-footer no-padding>
            <ion-grid no-padding>
              <ion-row no-padding class="bg-white border-2-green">
                <ion-col size="10" no-padding>
                  <div class="send-box" no-padding>
                    <input class="input-text-message" [(ngModel)]="textValue" placeholder="Type here" (keyup.enter)="sendMessage()" />
                  </div>
                </ion-col>
                <ion-col size="2" no-padding>
                  <ion-row no-padding justify-content-center>
                    <ion-button no-padding class="send-btn" size="small" (click)="sendMessage()">
                      <ion-icon no-padding name="send"></ion-icon>
                    </ion-button>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row class="attach" no-padding justify-content-end>
                <ion-icon color="light" name="attach"></ion-icon>
                <ion-icon color="light" name="image"></ion-icon>
              </ion-row>
            </ion-grid>
          </ion-footer>
        </ion-card-content>
      </div>
    </div>
  </div>
  <!-- <div class="chat-body" id="msgContainer" #content>
    <div #messages class="message-container" *ngFor="let message of messages | async">
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
  'to': message.sentBy === 'user'}">
        {{message.content}}
        <span class="sendtime">{{message.sendTime | date: 'dd-MMM-yyyy HH:mm'}}</span>
      </div>
    </div>
  </div>
  <div class="send-message">
    <input [(ngModel)]="textValue" (keyup.enter)="sendMessage()">
    <button (click)="sendMessage()">Send</button>
  </div> -->

</ion-content>