<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        
      </ion-grid>
      <div class="block">
          <ion-grid>
              <ion-row>
           
                <div class= "relative arrow"  >
                  <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" src="assets/images/apply/arrow.png"></ion-img>
                  <div class="apply-text">Season 2 Partners</div>
                </div>
        
        <!--<div class="apply-text col-md-8">         
            How To Apply
          
        </div>-->
            
            </ion-row>
           

  
  
<ion-row>
  <ion-col>
    <div class="team-div">
      <ion-img  style="margin-top: 25px;" src="assets/images/sponsors/adda.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/OYO.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/Deltin.png"></ion-img>
    </div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/JJ.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/DSport.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/adda.png"></ion-img>
    </div>
  </ion-col>
  
</ion-row>
<ion-row>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/Mera_Hoardings.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/Poker_Stuff.png"></ion-img>
    </div>
  </ion-col>
  <ion-col>
    <div class="team-div">
      <ion-img  src="assets/images/sponsors/Real_Activ.png"></ion-img>
    </div>
  </ion-col>

</ion-row>


        
        
          </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>