<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        <ion-row>
          <img src="../../assets/images/home/banner.png" height="150px">
        </ion-row>
      </ion-grid>
      <div class="block">
        <app-accordion *ngFor="let technology of technologies" [name]="technology.name" [description]="technology.description"
          [isMenuOpen]="technology.isMenuOpen" [icon]="technology.icon" (change)="captureName($event)">
        </app-accordion>
      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>