<ion-content class="ionic-home-page-section">
  <div class="back-img">
    <app-header></app-header>
    <div class="opacity-0">
      <ion-grid no-padding>
        
      </ion-grid>
      <div class="block">
        <ion-grid>
          <ion-row>
       
              <div class= "relative arrow"  >
                  <ion-img style="width: 20%;
                  width: 7%;
                  margin: 20px;
                  left:0;" routerLink="/psl" routerDirection="root"src="assets/images/apply/arrow.png"></ion-img>
                  <div class="apply-text">PSL Season 2 Teams</div>
                </div>
    
    <!--<div class="apply-text col-md-8">         
        How To Apply
      
    </div>-->
        
        </ion-row>
    
        <ion-grid>
   
        
      
          <!--<div class="apply-text col-md-8">         
        How To Apply
      
      </div>-->
      
        <ion-row>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Andhra01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Bengaluru01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Chennai01.png"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Delhi01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Goa01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Gujarat01.png"></ion-img>
            </div>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Kolkata01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Mumbai01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div">
              <ion-img  src="assets/images/img/Pune01.png"></ion-img>
            </div>
          </ion-col>
      
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="team-div-2">
              <ion-img   src="assets/images/img/Punjab01.png"></ion-img>
            </div>
          </ion-col>
          <ion-col>
            <div class="team-div-2">
              <ion-img  src="assets/images/img/Rajasthan01.png"></ion-img>
            </div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
   
      </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<div class="footer">
  <marquee>
    <div class="title">
      {{newsFooter}}
    </div>
  </marquee>
</div>